[defaults]
inventory = inventory/hosts.ini
host_key_checking = False
stdout_callback = default
result_format = yaml
remote_user = cc
timeout = 30

[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
